Repository pahud/cdk-fargate-express, pull requests merged in 2020-09, with the labels that each got.

#61 chore: yarn upgrade
  yarn.lock
Labels: yarn

#62 chore: yarn upgrade
  yarn.lock
Labels: yarn

#63 chore: upgrade projen
  .github/workflows/build.yml
  .github/workflows/projenupgrade.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: projen/upgrade

#65 chore: yarn upgrade
  yarn.lock
Labels: auto-merge, yarn/upgrade

#66 chore: yarn upgrade
  yarn.lock
Labels: auto-merge, yarn/upgrade
